global
  log /dev/log local0
  log localhost local1 notice
  maxconn 2000
  daemon

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  retries 3
  timeout connect 5000
  timeout client  50000
  timeout server  50000
  
frontend api_gateway
  bind *:${HAPROXY_PORT}

  acl PATH_order path_beg -i /api/order
  use_backend be_order if PATH_order

  acl PATH_delivery path_beg -i /api/delivery
  use_backend be_delivery if PATH_delivery

  
backend be_order
  http-request replace-path ^/api/order/?(.*) /\1
  server order order-service:8000 check

backend be_delivery
  http-request replace-path ^/api/delivery/?(.*) /deliveries/\1
  server delivery delivery:8000 check

  # This performs a HTTP for health check
  # option httpchk GET /


listen stats
  bind :${HAPROXY_STATS_PORT}
  stats enable
  stats uri /
  stats hide-version
  stats auth admin:admin
  stats refresh 2s

# https://www.haproxy.com/blog/using-haproxy-as-an-api-gateway-part-1/
# https://www.haproxy.com/blog/using-haproxy-as-an-api-gateway-part-2-authentication/
# https://www.haproxy.com/blog/using-haproxy-as-an-api-gateway-part-3-health-checks/
